.wrapperInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.label {
	margin-top: 12px;
	font-size: 14px;
    font-weight: 500;
}
.input {
	border: 1px solid #ccc;
    border-radius: 6px;
	padding: 10px;
	/* width: 100%; */
	margin-bottom: 12px;
	margin-top: 12px;
	color: #333;
	font-weight: 500;
}
.inputWrapper {
	display: flex;
	align-items: center;
  }

  .icon {
	display: flex;
	align-items: center;
	padding: 0 10px;
  }

.error {
	color: red;
	font-size: 12px;
	margin-top: 6px;
	margin-bottom: 6px;
}