@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #4255FF;
    --text-color: #5E5E5E;
}

html {

}

body {
    font-family: 'Josefin Sans', sans-serif;
    // font-family: 'Fredoka', sans-serif;
    // font-family: 'K2D', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Roboto', sans-serif;
}