.wrapper {
    display: flex;
    height: 52px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.img {
    object-fit: contain;
    width: 50px;
    height: 50px;
}

.nameApp {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 28px;
}
.mgmLogo {
    width: 18px;
    height: 16px;
    align-self: flex-start;
    margin-left: 4px;
}

.wrapperUser {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
}

.userName {
    margin-left: 10px;
}

.menu {
    display: flex;
}

.menuItem {
    width: 150px;
}

.iconItem {
    color: var(--text-color);
    font-size: 18px;
}

.contentItem {
    color: var(--text-color);
    font-size: 16px;
    margin-left: 12px;
    font-family: 'Josefin Sans', sans-serif;
}
