.wrapper {
    display: flex;
    height: 52px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    // position: fixed;
    // width: 100%;
}

.img {
    object-fit: contain;
    width: 50px;
    height: 50px;
}

.nameApp {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
    flex-direction: column;
    display: flex;
    //align-items: center;
}

.mgmLogo {
    width: 52px;
    height: 18px;
    align-self: flex-start;
}

.wrapperUser {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
	display: flex;
	align-items: center;
    &:hover {
        cursor: pointer;
    }
}

.userName {
	margin-left: 10px;
}

.menuItem {
	display: flex;
}

.iconItem {
	color: var(--text-color);
	font-size: 20px;
}

.contentItem {
	color: var(--text-color);
	font-size: 16px;
	margin-left: 12px;
	font-family: 'Josefin Sans', sans-serif;
}